* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(620deg, rgb(221, 129, 129), rgba(138, 138, 243, 0.867));
}

.container {
    width: 1230px;
}

.text-name {
    font-size: 25px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: rgb(105, 105, 8);
}

.input {
    height: 30px;
    width: 300px;
    font-size: 16px;
    margin-left: -5px;
    text-align: left;
}

.input:hover {
    border-color: lightblue;
}

.btn {
    height: 50px;
    width: 100px;
    margin: 10px 10px;
    border-radius: 10%;
    background-color: rgb(150, 150, 250);
    cursor: pointer;
}

.btn:hover {
    background-color: lightcyan;
}

.form-value {
    text-align: left;
    display: inline-block;
    /* border: 1px solid #222; */
    margin: 40px;
}

.heading h1 {
    text-align: center;
    margin: 25px;
    font-size: 40px;
    font-family: sans-serif;
    padding: 10px;
    color: cornsilk;
}

.form {
    padding: 15px;
}

.table {
    display: flex;
    justify-content: space-between;
}

form {
    padding: 22px;
    margin: 20px;
}

form div {
    margin: 20px;
    font-size: 16px;
}

form div input {
    height: 22px;
}

.part {
    display: flex;
    justify-content: space-between;
}

.task-grid {
    margin: 60px 220px;
    padding: 10px 40px;
    border: 2px solid #f4f4f4;
}

.grid-container {
    display: inline-block;
    justify-content: space-evenly;
}

.photo img {
    width: 167px;
    height: 150px;
    border: 1px solid darkgray;
}

.detail {
    font-size: 18px;
    color: cornsilk;
    padding: 5px;
}

.detail p {
    margin: 7px;
    text-align: -webkit-match-parent;
}

.delete {
    height: 30px;
    width: 53px;
    border-radius: 30px;
    background-color: lightskyblue;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
}

.delete:hover {
    background-color: lightgoldenrodyellow;
}